.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: var(--linear-navbar);
  border-color: var(--bg-hover);
  color: var(--color);
}

.container.dark {
  background: var(--linear-navbar-dark);
  color: var(--color-dark);
}

.title {
  color: inherit;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  padding: 0 2%;
}

.form button {
  max-width: 250px;
  width: 100%;
  padding: .5rem 1rem;
  border: 1px solid inherit;
  cursor: pointer;
  color: inherit;
  border-radius: .5rem;
  background: var(--bg-hover);
}
