.main {
  flex: 1;
  padding: 0 2%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--linear-navbar);
  color: var(--color);
  transition: .2s;
}

.dark {
  background: var(--linear-navbar-dark);
  color: var(--color-dark);
}