.navbar {
  display: flex;
  background: var(--linear-navbar);
  color: var(--color);
  backdrop-filter: blur(20px);
  align-items: center;
  justify-content: space-around;
  transition: .2s;
} 

.navbar.dark {
  background: var(--linear-navbar-dark);
  color: var(--color-dark);
}

.navbar__logo {
  color: inherit;
  font-weight: bolder;
  font-size: 2rem;
}

.navbar__items {
  display: flex;
}

.navbar__item {
  display: flex;
  list-style: none;
}

.navbar__link {
  transition: 0.2s;
  border-radius: 1.5rem;
  cursor: pointer;
  color: inherit;
}

.navbar__link:hover {
  background: var(--bg-hover);
}

.navbar__link button {
  background: transparent;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}
