.post {
    border: 2px solid var(--border-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .2s;
    margin: 1rem;
}

.post:hover {
    background: var(--bg-hover);
}